@*@QnSCodeCopy*@

@*DefaultPage*@
<RadzenCard Style="margin-bottom:20px">
    <b>@TranslateFor("TitleDetails")</b>
</RadzenCard>
<RadzenPanel>
    <HeaderTemplate>
    </HeaderTemplate>
    <ChildContent>
        <DisplayModelComponent ParentComponent=@this Model="@ParentModel" />
    </ChildContent>
</RadzenPanel>
@*DefaultPage*@
