@*@QnSCodeCopy*@
@inherits CommonComponent

<div class="container h-100 d-flex ">
    <div class="col-sm-12 align-self-center my-auto">
        <div class="d-flex justify-content-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">@Translate("Loading...")</span>
            </div>
        </div>
    </div>
</div>
