@*@QnSCodeCopy*@
@using QnSTradingCompany.BlazorApp.Shared.Components
@inherits CommonLayout

<RadzenDialog />
<RadzenNotification />

<RadzenHeader>
	<ChildContent>
		<div class="row justify-content-start align-items-center">
			<div class="col-md-6 d-flex align-items-center">
				<RadzenSidebarToggle Click="@SidebarToggleClick" />
				<RadzenLabel Text="QnSTradingCompany" />
			</div>
			<div class="col-md-6 text-lg-right">
				<LoginMenu />
			</div>
		</div>
	</ChildContent>
</RadzenHeader>
<RadzenBody @ref="LayoutBody">
	<ChildContent>
		<RadzenContentContainer Name="main">
			@Body
		</RadzenContentContainer>
	</ChildContent>
</RadzenBody>
<RadzenSidebar @ref="LayoutSidebar">
	<ChildContent>
		<RadzenPanelMenu style="height: 100%">
			<ChildContent>
				<NavMenu />
			</ChildContent>
		</RadzenPanelMenu>
	</ChildContent>
</RadzenSidebar>
<RadzenFooter>
	<ChildContent>
		<RadzenLabel Text="QnSTradingCompany, Copyright Ⓒ 2021">
		</RadzenLabel>
	</ChildContent>
</RadzenFooter>
